{%extends "app/main.html"%}
{%block content%}
<div class="row">
	<div class="col-lg-4">
		<img class="thumbnail" src="{% static 'images/holder.png'% }">
		<div class="box-element product">
			<h6>Product</h6>
			<hr>
			<button class="btn btn-outline-secondary add-btn">Add to Cart</button>
			<a class="btn btn-outline-succcess" href="">View</a>
			<h4><strong>$30</strong></h4>
		</div>
	</div>
	<div class="col-lg-4">
		<img class="thumbnail" src="{% static 'images/holder.png'% }">
		<div class="box-element product">
			<h6>Product</h6>
			<hr>
			<button class="btn btn-outline-secondary add-btn">Add to Cart</button>
			<a class="btn btn-outline-succcess" href="">View</a>
			<h4><strong>$20</strong></h4>
		</div>
	</div>
	<div class="col-lg-4">
		<img class="thumbnail" src="{% static 'images/holder.png'% }">
		<div class="box-element product">
			<h6>Product</h6>
			<hr>
			<button class="btn btn-outline-secondary add-btn">Add to Cart</button>
			<a class="btn btn-outline-succcess" href="">View</a>
			<h4><strong>$15</strong></h4>
		</div>
	</div>
</div>
{%endblock content%}